/* 列表页专有的css */
.nav {
  overflow: hidden;
}

.sk {
  position: absolute;
  left: 190px;
  top: 40px;
  border-left: 1px solid #c81523;
  padding: 3px 0 0 14px;
}

.sk_list {
  float: left;
}

.sk_list ul li {
  float: left;
}

.sk_list ul li a {
  display: block;
  line-height: 47px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.sk_con {
  float: left;
}

.sk_con ul li {
  float: left;
}

.sk_con ul li a {
  display: block;
  line-height: 49px;
  padding: 0 20px;
  font-size: 14px;
}

.li_items {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}

.li_items > div {
  width: 200px;
  height: 380px;
  margin: 40px 40px;
  cursor: pointer;
  border: 2px solid silver;
  position: relative;
}

.li_items_del {
  color: #c81523;
  background-color: silver;
  width: 24px;
  border-radius: 50%;

  font-size: 18px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.li_items_del :hover {
  background-color: #c81523;
  color: white;
}

/* 图片 */
.li_items_img {
  width: 200px;
  height: 200px;
}

.li_items_img img {
  width: 200px;
  height: 200px;
}

.li_items_info {
  width: 200px;
  height: 100px;
  border-top: #c81523 5px solid;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.li_items_info em {
  color: red;
}

/* li中字水平居中 */
.li_items_info li {
  text-align: center;
}
