.cprice {
  display: inline;
  width: 738px;
  height: 180px;
  font-size: 30px;
  color: red;
}

.items_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  font-size: large;
  font-weight: 500;
}

/* 商品图片 */
.items_img {
  width: 40%;
  height: 400px;
}

.items_img img {
  width: 480px;
  height: 480px;
}

.items_detail {
  padding: 0 10px;
  background-color: rgb(243, 243, 243);
  width: 60%;
  height: 480px;
}

.buy_box {
  width: 300px;
}

.buy_box button {
  width: 20px;
  height: 20px;
  background-color: #b1191a;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.buy_box input {
  text-align: center;
  width: 50px;
  height: 20px;
}

.buy_box :last-child {
  width: 90px;
  height: 32px;
  margin-left: 50px;
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
}
